<a href="https://colab.research.google.com/github/Eder-Carballo/edd_1358_2021/blob/master/12_octubre_1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#diccionarios (continuacion)
cliente_banco = {
              "id" : 1,
              "nombres" : ["Juan", "Antonio"],
              "paterno" : "Garcia",
              "materno" : "Perez",
              "telefonos" : {
                            "casa" : 5566778899,
                             "celular" : 5544332211,
                             "trabajo": 5566223311
                             },
              "activo" : True,
              "balance" : 234567.89,
              "tarjetas" : ({"tipo" : "debito", "saldo" : 12000}, {"tipo" : "credito", "saldo" : 3500.0})
    }
print(cliente_banco) 
#cliente_banco["balance"] = cliente_banco["balance"] -1000.89
cliente_banco["balance"] -=-1000.89

print(cliente_banco)
cliente_banco["tarjetas"] = ({"tipo" : "debito", "saldo" : 12000},
                             {"tipo" : "credito", "saldo" : 3500.0},
                             {"tipo" : "credito", "nivel" : "oro", "saldo" : 50000})
print(cliente_banco)
cliente_banco["direccion"] = {"calle" : "rancho seco", "num" : 23}
print(cliente_banco)
cliente_banco.pop("tarjetas")
print(cliente_banco)

{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'Garcia', 'materno': 'Perez', 'telefonos': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 234567.89, 'tarjetas': ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0})}
{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'Garcia', 'materno': 'Perez', 'telefonos': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 235568.78000000003, 'tarjetas': ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0})}
{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'Garcia', 'materno': 'Perez', 'telefonos': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 235568.78000000003, 'tarjetas': ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})}
{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'Garcia', 'materno': 'Perez', 'telefonos': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 235568.78000000003, 'tarjetas': ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000}), 'direccion': {'calle': 'rancho seco', 'num': 23}}

In [14]:
llaves = cliente_banco.keys()
print(llaves)
print(type(llaves))
for x in llaves:
  print(x)

valores = cliente_banco.values()
for v in valores:
  print(v)

  pares = cliente_banco.items()
  print(pares)
  for elem in pares:
    print(f" {elem[0]} = {elem[1]} ")

dict_keys(['id', 'nombres', 'paterno', 'materno', 'telefonos', 'activo', 'balance', 'tarjetas', 'direccion'])
<class 'dict_keys'>
id
nombres
paterno
materno
telefonos
activo
balance
tarjetas
direccion
1
dict_items([('id', 1), ('nombres', ['Juan', 'Antonio']), ('paterno', 'Garcia'), ('materno', 'Perez'), ('telefonos', {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}), ('activo', True), ('balance', 235568.78000000003), ('tarjetas', ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})), ('direccion', {'calle': 'rancho seco', 'num': 23})])
 id = 1
 nombres = ['Juan', 'Antonio']
 paterno = Garcia
 materno = Perez
 telefonos = {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}
 activo = True
 balance = 235568.78000000003
 tarjetas = ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})
 direccion = {'calle': 'rancho seco', 'num': 23}
['Juan', 'Antonio']
dict_items([('id', 1), ('nombres', ['Juan', 'Antonio']), ('paterno', 'Garcia'), ('materno', 'Perez'), ('telefonos', {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}), ('activo', True), ('balance', 235568.78000000003), ('tarjetas', ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})), ('direccion', {'calle': 'rancho seco', 'num': 23})])
 id = 1
 nombres = ['Juan', 'Antonio']
 paterno = Garcia
 materno = Perez
 telefonos = {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}
 activo = True
 balance = 235568.78000000003
 tarjetas = ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})
 direccion = {'calle': 'rancho seco', 'num': 23}
Garcia
dict_items([('id', 1), ('nombres', ['Juan', 'Antonio']), ('paterno', 'Garcia'), ('materno', 'Perez'), ('telefonos', {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}), ('activo', True), ('balance', 235568.78000000003), ('tarjetas', ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})), ('direccion', {'calle': 'rancho seco', 'num': 23})])
 id = 1
 nombres = ['Juan', 'Antonio']
 paterno = Garcia
 materno = Perez
 telefonos = {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}
 activo = True
 balance = 235568.78000000003
 tarjetas = ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})
 direccion = {'calle': 'rancho seco', 'num': 23}
Perez
dict_items([('id', 1), ('nombres', ['Juan', 'Antonio']), ('paterno', 'Garcia'), ('materno', 'Perez'), ('telefonos', {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}), ('activo', True), ('balance', 235568.78000000003), ('tarjetas', ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})), ('direccion', {'calle': 'rancho seco', 'num': 23})])
 id = 1
 nombres = ['Juan', 'Antonio']
 paterno = Garcia
 materno = Perez
 telefonos = {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}
 activo = True
 balance = 235568.78000000003
 tarjetas = ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})
 direccion = {'calle': 'rancho seco', 'num': 23}
{'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}
dict_items([('id', 1), ('nombres', ['Juan', 'Antonio']), ('paterno', 'Garcia'), ('materno', 'Perez'), ('telefonos', {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}), ('activo', True), ('balance', 235568.78000000003), ('tarjetas', ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})), ('direccion', {'calle': 'rancho seco', 'num': 23})])
 id = 1
 nombres = ['Juan', 'Antonio']
 paterno = Garcia
 materno = Perez
 telefonos = {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}
 activo = True
 balance = 235568.78000000003
 tarjetas = ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})
 direccion = {'calle': 'rancho seco', 'num': 23}
True
dict_items([('id', 1), ('nombres', ['Juan', 'Antonio']), ('paterno', 'Garcia'), ('materno', 'Perez'), ('telefonos', {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}), ('activo', True), ('balance', 235568.78000000003), ('tarjetas', ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})), ('direccion', {'calle': 'rancho seco', 'num': 23})])
 id = 1
 nombres = ['Juan', 'Antonio']
 paterno = Garcia
 materno = Perez
 telefonos = {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}
 activo = True
 balance = 235568.78000000003
 tarjetas = ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})
 direccion = {'calle': 'rancho seco', 'num': 23}
235568.78000000003
dict_items([('id', 1), ('nombres', ['Juan', 'Antonio']), ('paterno', 'Garcia'), ('materno', 'Perez'), ('telefonos', {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}), ('activo', True), ('balance', 235568.78000000003), ('tarjetas', ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})), ('direccion', {'calle': 'rancho seco', 'num': 23})])
 id = 1
 nombres = ['Juan', 'Antonio']
 paterno = Garcia
 materno = Perez
 telefonos = {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}
 activo = True
 balance = 235568.78000000003
 tarjetas = ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})
 direccion = {'calle': 'rancho seco', 'num': 23}
({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})
dict_items([('id', 1), ('nombres', ['Juan', 'Antonio']), ('paterno', 'Garcia'), ('materno', 'Perez'), ('telefonos', {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}), ('activo', True), ('balance', 235568.78000000003), ('tarjetas', ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})), ('direccion', {'calle': 'rancho seco', 'num': 23})])
 id = 1
 nombres = ['Juan', 'Antonio']
 paterno = Garcia
 materno = Perez
 telefonos = {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}
 activo = True
 balance = 235568.78000000003
 tarjetas = ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})
 direccion = {'calle': 'rancho seco', 'num': 23}
{'calle': 'rancho seco', 'num': 23}
dict_items([('id', 1), ('nombres', ['Juan', 'Antonio']), ('paterno', 'Garcia'), ('materno', 'Perez'), ('telefonos', {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}), ('activo', True), ('balance', 235568.78000000003), ('tarjetas', ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})), ('direccion', {'calle': 'rancho seco', 'num': 23})])
 id = 1
 nombres = ['Juan', 'Antonio']
 paterno = Garcia
 materno = Perez
 telefonos = {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}
 activo = True
 balance = 235568.78000000003
 tarjetas = ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})
 direccion = {'calle': 'rancho seco', 'num': 23}

In [16]:
frutas = {"nombre" : "manzana", "color" : "rojo", "estado" : "chihuahua"}
otras_caracteristicas = {"vitamina" : "D"}
frutas.update(otras_caracteristicas)
print(frutas)

{'nombre': 'manzana', 'color': 'rojo', 'estado': 'chihuahua', 'vitamina': 'D'}

# Funciones
- recibe de cero a n argumentos de entrada. 
- regresa solo un valor, aunque ese valor sea None.
- tiene un nombre unico en el contexto.
-se pueden hacer solo dos cosas con funciones
  - definirla
  - llamarla

In [20]:
def suma(a,b):
    return a + b

def saludar():
    print("Hola, ¿como estas?")
    return None

x = 10
y = 20
c = suma(x,y)

print(c)
saludar()

30
Hola, ¿como estas?

# None y las funciones
Aprovechar el uso de none en paso de parametros

In [22]:
def calcular(base, veces):
    if base != None:
        resultado = base*veces
    else:
        resultado = "desconocido"
    return resultado

print(calcular(4,3))
print(calcular(None, 3))

12
desconocido